@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;800&display=swap');

//breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
.bright-mode{
  background-image: url('../../assets/fondo.jpg');
  .main {
    &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      font-family: 'Exo 2';
    }
    &__header {
      height: 20vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1vh 1vw;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        flex-flow: column;
        height: fit-content;
      }
    }
    &__title {
      color: #ff4a4d;
      text-shadow: 1px 1px 1px black;
      font-size: 7vw;
      font-weight: 500;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        font-size: 10vw;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &__footer {
      color: #ff4a4d;
      text-shadow: 1px 1px 1px black;
      font-size: 1.2rem;
      font-weight: 800;
      padding: 30px 5vw;
      text-align: justify;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        font-size: 5vw;
      }
    }
    &__background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }
    &__logo {
      max-height: 250px;
      width: 30vw;
      max-width: 250px;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        width: 50vw;
        max-width: 300px;
      }
    }
  
    &__content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 90%;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        flex-flow: column;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
      }
      &-left {
        width: 20%;
        text-align: center;
        //breakpoint
        @media (max-width: $breakpoint-tablet) {
          width: 100%;
        }
        &__item {
          font-weight: 600;
          font-size: 1.2rem;
          //breakpoint
          @media (max-width: $breakpoint-tablet) {
            font-size: 5vw;
          }
          color: #ffeb6a;
          text-shadow: 1px 1px 1px black;
          margin-bottom: 10px;
        }
        &__description {
          font-weight: 600;
          margin: 0px;
          color: black;
          font-size: 1.2rem;
          //breakpoint
          @media (max-width: $breakpoint-tablet) {
            font-size: 5vw;
          }
          //breakpoint
          a {
            color: black;
            @media (max-width: $breakpoint-tablet) {
              color: #ff4a4d;
            }
          }
          a:hover {
            color: #ff4a4d;
          }
        }
        &__map {
          margin-top: 20px;
          /* width: 270px;
          height: 270px; */
          width: 90%;
          height: 270px;
          border: 2px solid black;
          border-radius: 5px;
        }
      }
      &-right {
        width: 80%;
        color: black;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: justify;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        //breakpoint
        @media (max-width: $breakpoint-tablet) {
          width: 100%;
          font-size: 4vw;
        }
        &__container {
          display: flex;
          width: 90%;
          justify-content: center;
          align-items: flex-start;
          text-align: center;
          //breakpoint
          @media (max-width: $breakpoint-tablet) {
            flex-flow: column;
            align-items: center;
            width: 100%;
            gap: 30px;
            text-align: initial;
          }
          &-column {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: column;
            width: 25%;
            gap: 10px;
            //breakpoint
            @media (max-width: $breakpoint-tablet) {
              width: 90%;
            }
            h2 {
              color: #ffeb6a;
              text-shadow: 1px 1px 1px black;
              font-size: 1.2rem;
              //breakpoint
              @media (max-width: $breakpoint-tablet) {
                margin: 0;
                font-size: 5vw;
              }
            }
            a {
              margin: 5px 0px;
              text-decoration: underline;
              color: black;
              text-align: center;
              @media (max-width: $breakpoint-tablet) {
                margin: 0;
                font-size: 5vw;
              }
            }
            a:hover {
              color: #ff4a4d;
            }
          }
        }
        p {
          width: 90%;
        }
      }
    }
  }
  
  .light-switch {
    width: 90px;
    height: 40px;
    display: flex;
    flex-direction: row;
    //drop shadow
    //breakpoint
    @media (max-width: $breakpoint-tablet) {
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .light-switch__bright {
    width: 50%;
    height: 100%;
    border-radius: 30px 0 0 30px;
    background-color: #fff;
    border-style: none;
  
    img {
      width: 30px;
      height: 30px;
    }
  }
  
  .light-switch__dark {
    width: 50%;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: #000;
    border-style: none;
  
    img {
      width: 15px;
      height: 15px;
      filter: invert(100%);
    }
  }
}
.dark-mode{
  background-image: url('../../assets/fondo2.jpg');
  .main {
    &__body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      font-family: 'Exo 2';
    }
    &__header {
      height: 20vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1vh 1vw;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        flex-flow: column;
        height: fit-content;
      }
    }
    &__title {
      color: #ff4a4d;
      font-size: 7vw;
      font-weight: 500;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        font-size: 10vw;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    &__footer {
      color: #ff4a4d;
      font-size: 1.2rem;
      font-weight: 800;
      padding: 30px 5vw;
      text-align: justify;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        font-size: 5vw;
      }
    }
    &__background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }
    &__logo {
      max-height: 250px;
      width: 30vw;
      max-width: 250px;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        width: 50vw;
        max-width: 300px;
      }
    }
  
    &__content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 90%;
      //breakpoint
      @media (max-width: $breakpoint-tablet) {
        flex-flow: column;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
      }
      &-left {
        width: 20%;
        text-align: center;
        //breakpoint
        @media (max-width: $breakpoint-tablet) {
          width: 100%;
        }
        &__item {
          font-weight: 600;
          font-size: 1.2rem;
          //breakpoint
          @media (max-width: $breakpoint-tablet) {
            font-size: 5vw;
          }
          color: #ffeb6a;
          margin-bottom: 10px;
        }
        &__description {
          font-weight: 600;
          margin: 0px;
          color: white;
          font-size: 1.2rem;
          //breakpoint
          @media (max-width: $breakpoint-tablet) {
            font-size: 5vw;
          }
          //breakpoint
          a {
            color: #fff;
            @media (max-width: $breakpoint-tablet) {
              color: #ff4a4d;
            }
          }
          a:hover {
            color: #ff4a4d;
          }
        }
        &__map {
          margin-top: 20px;
          /* width: 270px;
          height: 270px; */
          width: 90%;
          height: 270px;
          border: 2px solid white;
          border-radius: 5px;
        }
      }
      &-right {
        width: 80%;
        color: white;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: justify;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        //breakpoint
        @media (max-width: $breakpoint-tablet) {
          width: 100%;
          font-size: 4vw;
        }
        &__container {
          display: flex;
          width: 90%;
          justify-content: center;
          align-items: flex-start;
          text-align: center;
          //breakpoint
          @media (max-width: $breakpoint-tablet) {
            flex-flow: column;
            align-items: center;
            width: 100%;
            gap: 30px;
            text-align: initial;
          }
          &-column {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: column;
            width: 25%;
            gap: 10px;
            //breakpoint
            @media (max-width: $breakpoint-tablet) {
              width: 90%;
            }
            h2 {
              color: #ffeb6a;
              font-size: 1.2rem;
              //breakpoint
              @media (max-width: $breakpoint-tablet) {
                margin: 0;
                font-size: 5vw;
              }
            }
            a {
              margin: 5px 0px;
              text-decoration: underline;
              color: white;
              text-align: center;
              @media (max-width: $breakpoint-tablet) {
                margin: 0;
                font-size: 5vw;
              }
            }
            a:hover {
              color: #ff4a4d;
            }
          }
        }
        p {
          width: 90%;
        }
      }
    }
  }
  
  .light-switch {
    width: 90px;
    height: 40px;
    display: flex;
    flex-direction: row;
    //drop shadow
    //breakpoint
    @media (max-width: $breakpoint-tablet) {
      position: fixed;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
  .light-switch__bright {
    width: 50%;
    height: 100%;
    border-radius: 30px 0 0 30px;
    background-color: #fff;
    border-style: none;
  
    img {
      width: 15px;
      height: 15px;
    }
  }
  
  .light-switch__dark {
    width: 50%;
    height: 100%;
    border-radius: 0 30px 30px 0;
    background-color: #000;
    border-style: none;
  
    img {
      width: 30px;
      height: 30px;
      filter: invert(100%);
    }
  }
}

